<script type="text/template" id="related_template">
{% include templates/related._ %}
</script>

<script type="text/template" id="tabs_template">
{% include templates/tabs._ %}
</script>

<script type="text/template" id="tags_template">
{% include templates/tags._ %}
</script>

<script type="text/template" id="search_template">
{% include templates/search._ %}
</script>

<script type="text/template" id="search_result_template">
{% include templates/search_result._ %}
</script>

<script type="text/template" id="feedback_template">
{% include templates/feedback._ %}
</script>

