/*** MyGov Discovery Bar CSS ***/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,dl, dt, dd, ol, ul, li, fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0;font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline;}
body {line-height: 1;color: black; background: #fff;}
ol, ul {list-style: none;}
table {border-collapse: separate; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}

body {font-size: 14px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;}
ul, ol {list-style-position: inside; margin: 0; padding: 0;}
li {list-style: none; position: relative;}
a {color: #444;}
div, li {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;}

/*** Clearing Floats - Dan Cederholm ***/
.group:after{
  content: ".";
  display: block;
  height: 0;
  overflow: hidden; /* MyGov addition. */
  clear:both;
  visibility: hidden;
}

/*** Darowski Arrows  http://tech.patientslikeme.com/2010/11/09/using-borders-to-make-pure-css-arrows/ ***/

div.arrow {
  position: absolute;
  bottom: 0;
  left: 35%;
  border-top: 10px solid transparent;
  border-bottom: 10px solid #444;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

#bar {
  /* border: 2px solid red; */
  border-width: 2px 2px 4px 0px;
  border-style: solid;
  border-color: rgba(0,0,0,.4);
  position: absolute; 
  bottom: 0;
  width: 100%;
}

#bar.mini {width: auto; width: 95%;}

span.jujitsu {
  background: #8B1A1B;
  display: inline-block;
  padding:  0 .5em;
  line-height: 1.5em;
  border-radius: 1em;
  text-align: center;
  vertical-align: top;
  color: #fff;
  position: absolute; 
  top: .2em;
  font-size: .9em;
  left: 1.8em;
  
}



.row {
  clear: both;
  margin: 0; 
  display: block;
  /* border: 1px solid blue; */
}

.row.navigation {
  background: -moz-linear-gradient(top, rgba(255,255,255,0.9) 0%, rgba(242,242,242,0.9) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.95)), color-stop(100%,rgba(242,242,242,0.9))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.9) 0%,rgba(242,242,242,0.9) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,0.9) 0%,rgba(242,242,242,0.9) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,0.9) 0%,rgba(242,242,242,0.9) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(242,242,242,0.9) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#e6f2f2f2',GradientType=0 ); /* IE6-9 */
}

.row.content-pane {
  background: #444;
  padding: 2em 4em 2em 8em;
  color: #fff; 
  position: relative;
}

a.close {
  position: absolute;
  top: .75em;
  left: .75em;
  color: #fff;
  font-weight: normal;
  display: block;
  width: 1.1em;
  padding: .1em;
  height: 1em;
  font-size: 1.3em;
  vertical-align: top;
  text-align: center;
  line-height: .9em;
  border-radius: 3em;
  border: 2px solid rgba(255,255,255,.6);
}

a.close span {display: inline; position: absolute; left: -9999em;}

.row.content-pane li {display: block; margin: 0; padding: 0;}
.row.content-pane li.inline {display: inline; float: left;}

label {/* margin: 0 .3em 0 0; font-weight: normal; */ position: absolute; left: -9999em;}



input[type="text"] {border: none; padding: .5em; border: 1px solid #eee; background: rgba(255,255,255,.8);}
input[type="submit"] {border: none; background: #fff; border-radius: 0; display: inline-block; margin: .15em; border: 1px solid #ccc; padding: .5em 1em;}

/*** Tags ***/

ul.tag-list {border-left: 1px solid rgba(255,255,255,.4);}
ul.tag-list li {margin: 0; padding: 0;}

ul.tag-list li {float: left; margin: 0; padding: 0;}
ul.tag-list li a {
  margin: .3em 1.3em 0 0; 
  padding: 0 0 0 1.5em; 
  color: #fff;
  font-weight: 200;
  letter-spacing: 1px;
  text-decoration: none;
  background:  url("img/sprite.png") -12px -1200px no-repeat;
}

ul.tag-list li a:hover {text-decoration: underline;}

h2 {
  font-weight: normal; 
  font-size: 1.6em;
  font-weight: 200;
  letter-spacing: 1px; 
  line-height: 1.3em; 
  text-shadow: 0 -1px 0 rgba(0,0,0,.4);
  display: block; 
  padding: 0 0 .3em 0;
}

.navigation li {float: left; border-left: 1px solid #F9F9F9;}
.navigation li.current {font-weight: bold;}

.navigation li a {
  text-decoration: none;
  display: block;
  padding: 1.5em 1em 1.5em 2.75em;
  margin: 0;
  text-shadow: 0 1px 0 #fff;  
 /* border: 1px solid grey; */
}

.left {float: left;}
.left.first {border-left: none; }
.right {float: right;}

.row.content-pane .left {margin-right: 3%; border-left: 1px solid rgba(255,255,255,.2); padding-left: 5%; margin-bottom: 0; }
.row.content-pane {overflow: scroll;}
.row.content-pane .left.first {padding-left: 0; border-left: none;}

ul.right {text-align: right; display: block; float: right;}


/*** Icon Sprites ***/
.navigation li.mygov a {background:  url("img/sprite.png") 0 -1070px no-repeat;}
.navigation li.notifications a {background: url("img/sprite.png") 0 -104px no-repeat; }
.navigation li.search a {background:  url("img/sprite.png") 0 -706px no-repeat; }
.navigation li.related a {background:  url("img/sprite.png") 0 -946px no-repeat; }
.navigation li.tags a{background:  url("img/sprite.png") 0 -825px no-repeat; }
.navigation li.settings a {background:  url("img/sprite.png") 0 -224px no-repeat;  }
.navigation li.state a {background: url("img/sprite.png") 0 -344px no-repeat;}

#bar.mini .navigation li {display: inline-block;}
#bar.mini .navigation li a {padding: .75em 1em 1em 1em; display: block;}
#bar.mini .navigation li a span {text-indent: -9999em; display: block;}

#bar.mini .navigation li.tags a, #bar.mini .navigation li.search a {display: none;}

#bar.mini .navigation li.related a {font-weight: bold; background: none; padding-left: .75fconem;}
#bar.mini .navigation li.related a span {text-indent: 0; background: none; padding-left: .2em;}
#bar.mini ul.content-links {margin: 0;}
#bar.mini ul.content-links li {display: block; float: none; padding: 0; line-height: 1.3em; margin: 0; border-left: none; border-bottom: 2px solid rgba(255,255,255,.1); display: block;}
#bar.mini ul.content-links li:last-child {border-bottom: none;}
#bar.mini ul.content-links li a {background: none; padding: .75em ; display: block; text-decoration: underline; font-weight: normal; }
#bar.mini ul.content-links li:hover {background: none; }
#bar.mini ul.content-links li a:hover, #bar.mini .navigation li ul.content-links li a:active {background: rgba(255,255,255,.1); text-decoration: underline;}

#bar.mini .row.content-pane {padding:0;}
#bar.mini .row.content-pane a {color: #fff; text-decoration: none;}
#bar.mini .row.content-pane ul.content-links li {display: block; float: none;}

#bar.mini .navigation li.mygov a {background:  url("img/sprite.png") 50% -1316px no-repeat;}
#bar.mini .navigation li.notifications a {background: url("img/sprite.png") -104px -104px no-repeat;}
#bar.mini .navigation li.search a {background:  url("img/sprite.png") 50% -706px no-repeat;}
#bar.mini .navigation li.tags a {background:  url("img/sprite.png") 50% -825px no-repeat;}
#bar.mini .navigation li.settings a {background:  url("img/sprite.png") 50% -224px no-repeat; }
#bar.mini .navigation li.state a {background: url("img/sprite.png") 50% -344px no-repeat;}


#bar.mini .primary {padding-right: 2em;}

#bar.mini .expand a {
  display: block; 
  vertical-align: middle; 
  line-height: 4em; 
  text-align: center; 
  text-decoration: none; 
  font-weight: normal; 
  font-weight: 100;
  position: absolute; 
  top: 0; 
  right: 0; 
  z-index: 400; 
  background: #fff; 
  height: 100%; 
  width: 1em; 
  color: #888;
  font-size: 2.5em;
  border-left: 1px solid rgba(0,0,0,.15);
}
  
#bar.mini .expand a:hover {background: #eee;}  
  
#bar.mini .expand span {position: absolute; left: -9999em;}

#bar.expanded .content-links a, #bar.expanded .content-list a {color: #fff; display: block; padding: .65em 0;}
#bar.expanded .content-list a {cursor: pointer; font-weight: normal; font-size: 1.15em; text-shadow: none;  padding: .2em 0; margin-bottom: .25em; }
#bar.expanded .content-list span.date {font-size: .95em; color: #ccc;}


@media only screen and (max-width: 840px) {
   
  #bar.expanded .navigation .left li a span,
  #bar.expanded .navigation .right li a span {
    position: absolute;
    left: -9999em;
    display: block;
    padding: 0;
  }
  
 #bar.expanded .navigation .left li a span.jujitsu {
  display: inline-block; 
  position: relative; 
  padding:  0 .5em;
  line-height: 1.5em;
  border-radius: 1em;
  text-align: center;
  vertical-align: top;
  color: #fff;
  position: absolute; 
  top: .2em;
  font-size: .9em;
  left: 55%;
  }
  
  
  #bar.expanded .navigation ul.left {width: 71.4285715%; /* background: pink; */}
  #bar.expanded .navigation ul.right {width: 28.5714286%; /*background: green; */ float: right; }
  
  #bar.expanded .navigation .left li {width: 20%; margin: 0; padding: 0;}
  #bar.expanded .navigation .right li {width: 50%; margin: 0; padding: 0; }
  #bar.expanded .navigation li a {padding: 1.8em 0;}
  
  #bar.expanded .navigation li.mygov a {background:  url("img/sprite.png") 50% -1074px no-repeat;  }
  #bar.expanded .navigation li.notifications a {background: url("img/sprite.png") 50% -109px no-repeat;}
  #bar.expanded .navigation li.search a {background:  url("img/sprite.png") 50% -711px no-repeat;  }
  #bar.expanded .navigation li.related a {background:  url("img/sprite.png") 50% -950px no-repeat;  }
  #bar.expanded .navigation li.tags a {background:  url("img/sprite.png") 50% -829px no-repeat;  }
  #bar.expanded .navigation li.settings a {background:  url("img/sprite.png") 50% -229px no-repeat; border-left: none;}
  #bar.expanded .navigation li.state a {background: url("img/sprite.png") 50% -350px no-repeat;}
  
  #bar.expanded .row.content-pane {padding: 1em 2em 1em 5em;}

  #bar.expanded .row.content-pane .right, #bar.expanded .row.content-pane .left {display: block; float: none; clear: both; width: 100%;}
  #bar.expanded .row.content-pane .right {margin: 0 0 3em 0;}

  #bar.expanded .row.content-pane .left {border-left: none; padding-left: 0; padding-bottom: 2em;}
  #bar.expanded .row.content-pane .left.first { margin: 0 0 1em 0;  border-bottom: 1px solid rgba(255,255,255,.1);}
  #bar.expanded .row.content-pane .left.first.single {border-bottom: none;}
  
  #bar.mini .navigation li {width: auto; padding: auto; margin: 0;}
  #bar.mini .navigation li.related a span {position: relative; text-indent: 0; left: 0;}
}

/* BB ADDED */
#bar.signed-out li.notifications, #bar.signed-out li.settings { display: none; }
#bar.mini .right { display: none; }
body {background: transparent; }
#bar.expanded .expand { display: none; }
#bar.hidden { width: 0px; }
#bar #tabs li { display: none; }
#bar #tabs li.activated { display: block; }