<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">
        <style>
        .bookmarklet { background: #eee; padding: 5px; border: 1px solid black; border-radius: 5px; color: black; }
        .bookmarklet a:visited { color: black; }
        code { background: #ccc; display: block; padding: 10px; width: 800px; border: 1px solid black; }
        </style>
        <title>MyUSA Bar</title>
    </head>
    <body>
        <div class="container">

          {{ content }}

        </div> <!-- /container -->
        {% include embed-code.html %}
        <script>{% include js/related-widget.js %}</script>
    </body>
</html>
